:root {
    --popGreen: #B9FF08;
    --dark: #3B3B3B;
    --med: #6E6E6E;
    --light: #F0F0F0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    background-color: var(--light);
    grid-template-areas:
        "head main main main"
        "head main main main"
        "head main main main";
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: var(--dark);
    color: var(--popGreen);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    padding: 2rem 1rem 2rem 0.5rem;
    box-shadow: 0.25rem 0 0.5rem rgba(0, 0, 0, 0.3);
    z-index: 2;
    grid-area: head;
}

.headText {
    display: flex;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.social i {
    font-size: clamp(1.25rem, 2vw, 1.5rem); 
    color: var(--med);
}

.social i:hover {
    cursor: pointer;
    color: var(--light);
}

.headText h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: clamp(2.5rem, 4vw, 3rem);
}

.headText h2 {
    font-size: clamp(1.25rem, 2vw, 1.5rem); 
    color: var(--med);
}

header h1, header h2 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

main {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100vh;
    width: 100%;
    gap: 0.25rem;
    grid-area: main;
}

.collBtn {
    background-color: var(--med);
    color: var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(1rem, 1.7vw, 1.5rem); 
    padding: 0.25rem 1rem 0.25rem 3rem;
    transition: color 0.2s ease-in-out;
    flex: 1;
}

.collBtn:after {
    padding: 0 1rem;
    content: "\1F892";
    font-size: 3rem;
    position: relative;
    bottom: 0.2rem;
    right: 2rem;
    opacity: 0.5;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.collBtn i {
    padding: 0 1rem 0 0;
    font-size: smaller;
}

.collBtn:nth-of-type(even) {
    background-color: var(--med);
}

.collBtn:last-of-type {
    margin-bottom: -0.25rem;
}

.collBtn:hover {
    cursor: pointer;
    color: var(--popGreen);
}

.collBtn:hover::after {
    transform: translate(1rem, 0) scale(1.15);
    color: var(--popGreen);
    opacity: 1;
}

.content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, margin 0.3s ease-in-out, padding 0.3s ease-in-out, opacity 0.3s ease-in-out;
    font-size: 16px;
}

.content p {
    padding: 0.15rem 0;
}

.activeBtn:after, .activeBtn:hover::after {
    transform: rotate(90deg) translate(8px, -8px) scale(1.25);
    color: var(--popGreen);
    opacity: 1;
}

.activeContent {
    overflow-y: scroll;
    margin: 1rem;
    padding: 1rem;
    opacity: 1;
    color: var(--dark);
}