@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Space+Mono:wght@400;700&display=swap');

:root {
    --dark: #07090D;
    --darkRGB: 7, 9, 13;
    --purp: #2e2859;
    --purpRGB: 46, 40, 89;
    --blue: #151C26;
    --blueRGB: 21, 28, 38;
    --tan: #735928;
    --tanRGB: 115, 89, 40;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* Firefox scrollbar */
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--tanRGB), 0.5) rgba(var(--tanRGB), 0.3);
}

/* Webkit browser scrollbar*/

*::-webkit-scrollbar {
    width: 0.5rem;
}

*::-webkit-scrollbar-track {
    background: rgba(var(--tanRGB), 0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(var(--tanRGB), 0.5);
    border-radius: 0;
}

a {
    text-decoration: none;
}

body {
    height: 100dvh;
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-image: url(./assets/ep_naturalblack.webp);
    padding: 0;
    border: 0.5rem solid var(--dark);
    border-right: none;
}

main {
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: mainFadeIn 500ms linear 250ms forwards;
}

@keyframes mainFadeIn {
    0% {
        width: 0;
        opacity: 0;
        overflow: hidden;
    }

    50% {
        width: 0;
        opacity: 0;
        border: none;
        overflow: hidden;
    }

    100% {
        overflow: normal;
        width: 100%;
        opacity: 1;

    }
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    animation: headFadeIn 500ms linear 250ms forwards;
    opacity: 0;
    background-color: rgba(var(--blueRGB), 0.75);
    border-right: 2px solid var(--purp);
    margin-right: 0.25rem;
}

@keyframes headFadeIn {
    0% {
        opacity: 0;
        overflow: hidden;
        border: none;
    }

    50% {
        opacity: 0;
        border: none;
    }

    100% {
        opacity: 1;

    }
}

.headText {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: clamp(1rem, 2vw, 2.5rem) clamp(1.5rem, 3vw, 3.75rem);
}

.social {
    display: flex;
    padding: 1rem 0.5rem;
    gap: clamp(0.5rem, 2vw, 1.5rem);
    font-size: clamp(1rem, 3vw, 2.5rem);
}

.social i {
    transition: color 0.2s ease-in-out;
    color: rgba(255, 255, 255, 0.25);
}

.social i:hover {
    cursor: pointer;
    color: #fff;
}

.headText h1 {
    font-family: 'Space Mono', monospace;
    text-shadow: -2px 0 0 var(--tan), 0 2px 0 var(--tan), 2px 0 0 var(--tan), 0 -2px 0 var(--tan);
    color: var(--blue);
    transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
    font-size: clamp(1.5rem, 3.5vw, 3rem);
    letter-spacing: 0.25vh;
}

.headText h2 {
    font-size: clamp(1rem, 2.25vw, 1.75rem);
    color: rgba(255, 255, 255, 0.25);
}

header h1, header h2 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.collBtn {
    font-family: 'Space Mono', monospace;
    font-size: clamp(1.25rem, 2vw, 2.25rem);
    letter-spacing: 0.15vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, opacity 0.2s ease-in-out, letter-spacing 0.3s ease-in-out, font-size 0.3s ease-in-out;
    padding: 0.5rem calc(10vw + 0.5rem) 0.5rem 10vw;
    text-shadow: -1px 0 0 var(--tan), 0 1px 0 var(--tan), 1px 0 0 var(--tan), 0 -1px 0 var(--tan);
    background-color: rgba(var(--blueRGB), 0.25);
    color: var(--blue);
    border-left: 1px solid rgba(var(--tanRGB), 0.75);
    border-top: 1px dashed var(--purp);
    border-bottom: 1px dashed var(--purp);
    opacity: 0.75;
    min-height: 3rem;
    margin-top: 0.25rem;
}

.collBtn h3 {
    padding: 0;
    margin: 0;   
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}

.collBtn:first-of-type {
    margin-top: 0;
}

.collBtn i {
    font-size: clamp(1rem, 2.25vw, 1.75rem);
    padding: 0 0 0 2vw;
    text-shadow: -1px 0 0 rgba(255, 255, 255, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25), 1px 0 0 rgba(255, 255, 255, 0.25), 0 -1px 0 rgba(255, 255, 255, 0.25);
}

.collBtn:hover {
    cursor: pointer;
    opacity: 0.9;
    letter-spacing: 0.25vw;
    background-color: rgba(var(--blueRGB), 0.75);
    border-left: 2px solid rgba(var(--tanRGB), 1);
}

.content {
    text-align: justify;
    max-height: 0;
    width: 100%;
    font-size: clamp(0.75rem, 2vw, 1rem);
    transition: max-height 0.2s ease-in;
    overflow: hidden;
    padding: 0 10vw;
    border-left: 2px solid var(--tan);
    color: rgba(var(--blueRGB), 0);
}

.content h4 {
    font-family: 'Space Mono', monospace;
    margin: 1rem 0;
    font-size: clamp(1.25rem, 1.5vw, 2rem);
}

.content h5 {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.innerContent {
    display: flex;
}

.innerContent p {
    margin-bottom: 1rem;
}

#Projects {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    gap: 2vw;
}

#Projects h4 {
    flex: 1;
}

.projectBox {
    width: 10rem;
    height: 10rem;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.activeBtn, .activeBtn:hover {
    background-color: rgba(var(--blueRGB), 0.75);
    text-shadow: -2px 0 0 var(--tan), 0 2px 0 var(--tan), 2px 0 0 var(--tan), 0 -2px 0 var(--tan);
    z-index: 2;
    letter-spacing: 0.25vw;
    border-left: 2px solid rgb(var(--tanRGB));
    opacity: 1;
    min-height: 4rem;
}

.activeContent {
    font-size: clamp(0.75rem, 2vw, 1rem);
    transition: max-height 0.2s ease-in, margin 2s ease-in;
    animation: activeContIn 2s linear 250ms ease-in;
    padding: 0 10vw;
    overflow-y: scroll;
    color: rgba(255, 255, 255, 0.8);
}