:root {
    --popGreen: 185, 255, 8;
    --dark: 59, 59, 59;
    --med: 110, 110, 110;
    --light: 240, 240, 240;
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    background-color: rgb(var(--med));
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: rgb(var(--dark));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    margin: 0;
    box-shadow: 1rem 0 1rem -0.5rem rgba(var(--dark), 0.65);
    z-index: 2;
}/* add a media query for header height!!! */

.headText {
    display: flex;
    padding: 2rem clamp(1rem, 3vw, 3rem);
}

.social {
    display: flex;
    padding: 1rem 0.5rem;
    gap: clamp(0.5rem, 2vw, 1.5rem);
    font-size: clamp(1rem, 2.5vw, 2rem);
}

.social i {
    color: rgb(var(--med));
    transition: color 0.2s ease-in-out;
}

.social i:hover {
    cursor: pointer;
    color: rgb(var(--light));
}

.headText h1 {
    font-family: 'Abril Fatface', cursive;
    color: rgb(var(--dark));
    text-shadow: -2px 0 rgb(var(--popGreen)), 0 2px rgb(var(--popGreen)), 2px 0 rgb(var(--popGreen)), 0 -2px rgb(var(--popGreen));
    transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
    font-size: clamp(2rem, 5vw, 4rem);
}

.headText h1:hover {
    color: rgb(var(--popGreen));
    text-shadow: none;
}

.headText h2 {
    color: rgb(var(--med));
    font-size: clamp(1rem, 2.5vw, 2rem);
}

.headText h1, .headText h2 {
    transform: rotate(180deg);
}

header h1, header h2 {
    writing-mode: vertical-rl;
}

main {
    display: flex;
    flex-direction: column;
}

.collBtn {
    background-color: rgba(var(--dark), 0.5);
    color: rgb(var(--light));
    display: flex;
    justify-content: left;
    align-items: center;
    transition: color 0.2s ease-in-out, padding 0.2s ease-in-out, text-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    flex: 1;
    padding-left: 2rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-top: 2px;
}

.collBtn:first-of-type {
    margin-top: 0;
}

.collBtn:after {
    content: "\f0da";
    font: var(--fa-font-solid);
    margin-left: 1rem;
    transition: transform 0.3s ease-in-out;
}

.collBtn i {
    padding: 0 1rem;
}

.collBtn:hover {
    cursor: pointer;
    color: rgb(var(--dark));
    background: rgb(var(--dark));
    text-shadow: -1px 0 0 rgb(var(--popGreen)), 0 1px 0 rgb(var(--popGreen)), 1px 0 0 rgb(var(--popGreen)), 0 -1px 0 rgb(var(--popGreen));
}

.collBtn:hover::after {
    color: rgb(var(--dark));
    transform: scale(1.25) translatex(0.5rem);
}

.content {
    text-align: justify;
    max-height: 0;
    opacity: 0;
    overflow-y: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.innerContent {
    display: flex;
}

.innerContent p {
    margin-bottom: 1rem;
}

.picture img {
    width: 100%;
    margin-right: 2rem;
}

.activeBtn {
    color: rgb(var(--dark));
    background: rgb(var(--dark));
    text-shadow: -1px 0 0 rgb(var(--popGreen)), 0 1px 0 rgb(var(--popGreen)), 1px 0 0 rgb(var(--popGreen)), 0 -1px 0 rgb(var(--popGreen));
    box-shadow: 0 1rem 1rem -0.5rem rgba(var(--dark), 0.65);
    z-index: 2;
    margin-top: 0;
}

.activeBtn:after, .activeBtn:hover::after {
    transform: rotate(90deg) translate(0.5rem, -0.5rem) scale(1.25);
    color: rgb(var(--dark));
}

.activeContent {
    overflow-y: scroll;
    opacity: 1;
    color: rgb(var(--light));
    background-color: rgba(var(--dark), 0.75);
    padding: 1rem 2rem 1rem 3rem;
}

.activeContent h4 {
    font-family: 'Abril Fatface', cursive;
    border-bottom: 1px dashed rgb(var(--popGreen));
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

@media screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }

    main {
        max-height: 90vh;
        height: 100%;
    }

    header {
        flex-direction: row;
        text-align: left;
        min-height: 10vh;
    }

    .headText {
        padding: 0.5rem 0 0.5rem 0.5rem;
        flex-direction: column;
    }

    .social {
        flex-direction: column;
        padding: 0.5rem 0.5rem 0.5rem 0;
    }

    .headText h1 {
        text-shadow: -2px 0 rgb(var(--med)), 0 2px rgb(var(--med)), 2px 0 rgb(var(--med)), 0 -2px rgb(var(--med));
    }

    .headText h1, .headText h2 {
        transform: rotate(360deg);
    }

    header h1, header h2 {
        writing-mode: horizontal-tb;
    }

    .collBtn {
        padding: 0;
        margin-top: 1px;
    }

    .collBtn i {
        padding: 0 0.5rem;
    }

    .content {
        font-size: 0.9rem;
    }

    .activeBtn {
        margin-top: 0;
    }

    .activeBtn:first-of-type {
        margin-top: 1px;
    }

    .activeContent {
        padding: 0.5rem;
        font-size: 0.9rem;
        background-color: rgba(var(--dark), 0.75);
    }

    .activeContent h4 {
        padding-top: 1rem;
        font-size: 1rem;
    }

}