body {
    margin: 0;
    padding: 0;
    background-color: #535953;
    color: #F1FFF0;
}

main {
    margin: 4rem calc(10rem + 5%) 20rem 5%;
}

header {
    min-height: calc(100vh - 7rem);
    margin: 0 0 5rem 0;
    padding: 4rem 5%;
    text-align: left;
    background-color: #414741;
    font-size: 2rem;
}

section {
    scroll-margin-top: 5rem;
    margin: 0 auto 70vh auto;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 10rem;
    background-color: rgba(169, 255, 163, 0.1);
    text-align: center;
}

nav ul {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 2rem 0 0 0;
}

nav ul::before {
content: "On this page:";
}

nav ul li {
    margin: 0;
    padding: 0;
}

.navBtn {
    cursor: pointer;
    border: none;
    padding: 0.25rem 0.75rem;
    background-color: rgba(169, 255, 163, 0.1);
    color: #F1FFF0;
    height: 2rem;
    width: 10rem;
}

.navBtnIsActive { 
    background-color: rgba(169, 255, 163, 1);
    color: #535953;
    margin-left: -1rem;
    border-radius: 1rem 0 0 1rem;
    font-weight: 600;
    width: 11rem;
}

.sectionHeader {
    width: 0;
    border-bottom: 1px solid #A9FFA3;
    opacity: 0;
    white-space: nowrap;
}

.sectionContent {
    opacity: 0;
    width: 100%;
}

.aniSectionHeadIn {
    animation: animated-head-in 300ms ease-in 100ms forwards;
}

.aniSectionHeadOut {
    animation: animated-head-out 300ms ease-in forwards;
}

.aniSectionContentIn {
    animation: animated-content-in 300ms ease-in 300ms forwards;
}

.aniSectionContentOut {
    animation: animated-content-out 300ms ease-in forwards;
}

#layoutContainer {
    scroll-margin-top: 10rem;
}

@keyframes animated-head-in {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        width: 100%;
        opacity: 1;
    }
}

@keyframes animated-head-out {
    from {
        width: 100%;
        opacity: 1;
    }

    to {
        width: 0;
        opacity: 0;
    }
}

@keyframes animated-content-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animated-content-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media screen and (max-width: 800px) {
    header {
        font-size: 1.5rem;
    }

    main {
        margin: 5%;
    }

    section {
        scroll-margin-top: 5rem;
    }

    nav {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 3rem;
        padding: 0;
        margin: 0;
    }

    nav ul {
        display: flex;
        width: 100%;
    }

    nav ul::before {
        content: "";
        }

    nav ul li {
        flex-grow: 2;
    }

    .navBtn {
        padding: 0;
        width: 100%;
        font-size: 0.75rem;
        margin: 0;
        background-color: rgba(169, 255, 163, 0.1);
    }

    .navBtnIsActive { 
        background-color: rgba(169, 255, 163, 1);
        border-radius: 0;
    }
}