@import url('./buttonStyle.css');

.content {
    will-change: auto;
    max-height: 0;
    width: 100%;
    line-height: 1.6;
    font-size: clamp(0.75rem, 2vw, 1rem);
    font-family: 'Roboto', sans-serif;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    padding: 0 12vw 0 10vw;
    color: rgba(255, 255, 255, 0);
    visibility: hidden;
}

.content h3 {
    font-family: 'Space Mono', monospace;
    margin: 4rem 0 2rem 0;
    font-size: clamp(1.25rem, 1.5vw, 2rem);
    color: rgba(255, 255, 255, 0);
}

.innerContent {
    display: flex;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0);
}

.innerContent p {
    margin: 0.5rem 0;
}

.innerContent a {
    color: rgba(255, 255, 255, 0);
    text-decoration: underline;
}

#educationContainer #edVerifyImgs {
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

#educationContainer h4 {
    margin: 4rem 0;
    border-bottom: 1px solid rgb(var(--tanRGB));
}

.edDescript {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.bookHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

.edText, .bookText {
    width: 60%;
}

.edPicture {
    cursor: zoom-in;
    max-width: fit-content;
    opacity: 0;
}

.edPicture img {
    border-radius: 0.25rem;
    width: clamp(12rem, 20vw, 25rem);
    transition: width 0.2s ease-in-out;
}

.bookPicture {
    width: clamp(13rem, 21vw, 26rem);
}

.bookPicture img {
    width: clamp(12rem, 20vw, 20rem);
}

.projectBox {
    background-color: rgba(var(--darkRGB), 0.5);
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 1rem;
}

.projectBox .projectTitle {
    font-family: 'Space Mono', monospace;
    margin: 1rem 0;
}

.projectBox h3 a, .projectBox a {
    color: rgb(var(--tanRGB));
    text-decoration: underline;
}

.projectBox h3 a:hover {
    color: rgba(255, 255, 255, 0.75);
}

.projectBox h4 {
    margin: 0 0 0.5rem 0;
}

.projectBox:first-of-type {
    margin: 4rem auto 1rem auto;
}

.projectBox:last-of-type {
    margin: 0 auto 4rem auto;
}

.projectDesc {
    display: flex;
    gap: clamp(1rem, 5vw, 5rem);
    font-size: clamp(0.75rem, 1vw, 1rem);
}

.projectDetail {
    padding: 0.5rem 0;
    margin-bottom: 2rem;
}

.projectDetail details[open] {
    border-bottom: 1px solid rgb(var(--tanRGB));
}

.projectBox img {
    display: inline-block;
    width: clamp(10rem, 20vw, 20rem);
    height: fit-content;
    opacity: 0.5;
    transition: opacity 0.3s ease, transform 0.3s ease 0.1s;
    border-radius: 0.25rem;
}

.projectBox img:hover {
    opacity: 1;
}

.projectBox summary {
    padding: 1rem;
    border-bottom: 1px solid rgb(var(--tanRGB));
    cursor: pointer;
}

.projectBox details p {
    padding: 0 1rem;
    font-size: clamp(0.75rem, 1vw, 1rem);
    margin-top: 1rem;
}

.projectBox details p:last-of-type {
    padding-bottom: 1rem;
}

#contactInfo {
    padding: 10% 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
}

#contactInfo a {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    background-color: rgba(var(--darkRGB), 0.5);
    border: 1px solid rgb(var(--darkRGB));
    border-top: 0.125rem solid rgb(var(--darkRGB));
    border-bottom: 0.125rem solid rgb(var(--darkRGB));
    padding: 0.5rem;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
}

#contactInfo a:hover {
    color: rgba(255, 255, 255, 1);
    animation: borderFlash 0.1s 2 forwards ease-in;
}

.activeContent {
    font-size: clamp(0.75rem, 2vw, 1rem);
    padding: 0 calc(12vw - 0.5rem) 0 10vw;
    overflow-y: scroll;
    background-color: rgba(var(--darkRGB), 0.5);
    visibility: visible;
    border-bottom: 0.125rem dashed rgb(var(--tanRGB));
}

.activeContent h3 {
    color: rgba(255, 255, 255, 0.75);
    font-size: clamp(1rem, 2vw, 1.25rem);
    margin-bottom: clamp(1rem, 2vw, 2rem);
}

.activeContent .innerContent {
    color: rgba(255, 255, 255, 0.75);
    transition: color 0.3s ease-in 0.6s;
    margin-bottom: 4rem;
}

.activeContent .innerContent a {
    color: rgb(var(--tanRGB));
}

.activeContent .innerContent a:hover {
    color: rgb(255, 255, 255);
}

.activeContent .innerContent .edPicture {
    width: clamp(12rem, 20vw, 20rem);
    animation: picIn 0.3s ease-in 0.65s forwards;
}

.activeContent .innerContent .openPic {
    width: 100%;
    cursor: zoom-out;
    margin: auto;
}

.openPic img {
    width: 100%;
}

.openPicText {
    width: 100%;
}

@keyframes picIn {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 59rem) {
    .projectBox {
        margin-bottom: 0.5rem;
    }

    .projectBox img:hover {
        opacity: 1;
        transform: none;
    }

    .projectBox:first-of-type {
        margin: 1rem auto 0.5rem auto;
    }

    .projectBox:last-of-type {
        margin: 0 auto 2rem auto;
    }

    .bookHolder {
        justify-content: space-between;
        gap: 10vw;
    }

    .activeContent {
        padding: 0 3vw;
        margin: 0;
        border-bottom: 0.125rem dashed rgb(var(--tanRGB));
    }

    .activeContent .innerContent .picture {
        animation: none;
        opacity: 1;
    }
}

@media screen and (max-height: 27rem) {
    .activeContent {
        overflow-y: visible;
    }

    .projectBox:first-of-type {
        margin: 1rem auto 0.5rem auto;
    }

    .projectBox:last-of-type {
        margin: -0.5rem auto 1rem auto;
    }
}

@media screen and (max-width: 38.5rem) {
    .edText {
        width: 100%;
    }
}

@media screen and (max-width: 25rem) {
    .projectDesc {
        flex-direction: column;
        gap: 1rem;
    }

    .projectBox summary {
        padding: 1rem 0;
    }

    .projectBox img {
        width: 100%;
        margin: auto;
    }
}