.content {
    text-align: justify;
    max-height: 0;
    width: 100%;
    font-size: clamp(0.75rem, 2vw, 1rem);
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    padding: 0 15vw 0 12vw;
    border-left: 0.125rem dashed rgb(var(--tanRGB));
    color: rgba(255, 255, 255, 0);
}

.content h4 {
    font-family: 'Space Mono', monospace;
    margin: 4rem 0 2rem 0;
    font-size: clamp(1.25rem, 1.5vw, 2rem);
    color: rgba(255, 255, 255, 0);
}

.innerContent {
    display: flex;
    line-height: 1.6;
    margin-bottom: 4rem;
}

.innerContent p {
    margin-bottom: 0.5rem;
    clear: both;
}

.innerContent .picture {
float: left;
    width: clamp(12rem, 20vw, 20rem);
    border: 1px dashed rgb(var(--tanRGB));
    background-color: rgba(var(--blueRGB), 0.75);
    margin: 0.5rem clamp(1.25rem, 1.5vw, 2rem) clamp(0.5rem, 1vw, 1rem) 0;
    transform: translateX(-50vw);
    border-radius: 0.25rem;
    padding: 0.5rem;
    opacity: 0;
}

#educationContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}
#educationContainer .picture {
    margin: 1rem 0;
}

#Projects {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2vw;
}

.projectBox {
    visibility: hidden;
    background-color: rgba(var(--darkRGB), 0.75);
    color: #fff;
    border: 1px solid #000;
    width: 100%;
    gap: 1rem;
    padding: 0.25rem;
}

.projectBox:first-of-type {
    margin: 4rem auto 0 auto;
}

.projectBox:last-of-type {
    margin: 0 auto 4rem auto;
}

.projectDesc {
    display: flex;
    justify-content: left;
    gap: 1rem;
    margin: 0.5rem 1rem 1rem 1rem;
}

.projectDetail {
    cursor: pointer;
    background-color: rgb(var(--blueRGB));
    padding: 0.5rem 0;
    margin: 1rem 1rem 0.5rem 1rem;
}

.projectDetail summary {
    background-color: rgba(var(--purpRGB), 0.4);
}

.projectDetail summary:hover {
    background-color: rgba(var(--purpRGB), 0.6);
}

.projectBox img {
    display: inline-block;
    width: clamp(10rem, 20vw, 20rem);
    height: fit-content;
    opacity: 0.5;
    transition: opacity 0.3s ease 0.15s, transform 0.3s ease 0s;
}

.projectBox img:hover {
    opacity: 1;
    transform: scale(1.5);
}

.projectBox h4 {
    font-size: clamp(0.75rem, 1.25vw, 1.25rem);
    font-family: 'Space Mono', monospace;
    height: fit-content;
    margin: 0;
    font-weight: 500;
}

.projectBox p {
    font-size: clamp(0.75rem, 1.25vw, 1.25rem);
    margin-top: 1rem;
}

.projectBox details {
    font-size: clamp(0.75rem, 1.25vw, 1.25rem);
    font-family: 'Space Mono', monospace;
}

.projectBox details p {
    padding-left: 1rem;
}

.activeContent {
    font-size: clamp(0.75rem, 2vw, 1rem);
    padding: 0 15vw 0 12vw;
    overflow-y: scroll;
    background-color: rgba(var(--darkRGB), 0.4);
}

.activeContent .projectBox {
    visibility: visible;
}

.activeContent h4 {
    color: rgba(255, 255, 255, 0.75);
    transition: color 0.3s ease-in 0.6s;
}

.activeContent .innerContent {
    color: rgba(255, 255, 255, 0.75);
    transition: color 0.3s ease-in 0.6s;
}

.activeContent .innerContent .picture {
    width: clamp(12rem, 20vw, 20rem);
    animation: picIn 0.3s ease-in 0.65s forwards;
}

@keyframes picIn {
    0% {
        opacity: 0;
        transform: scale(0%);
    }

    80% {
        opacity: 1;
        transform: scale(115%);
    }

    100% {
        opacity: 1;
        transform: scale(100%);
    }
}

@media screen and (max-width: 600px) {
    .content {
        padding: 0 3vw;
        border: none;
    }

    .content h4 {
        margin: 1rem 0;
    }

    .projectBox:first-of-type {
        margin: 1rem auto 0 auto;
    }

    .projectBox:last-of-type {
        margin: 0 auto 1rem auto;
    }
}