@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Space+Mono:wght@400&display=swap');
@import url('./buttonStyle.css');
@import url('./contentStyle.css');

:root {
    /* dark mode colors */
    --darkRGB: 7, 9, 13;
    --purpRGB: 72, 63, 140;
    --blueRGB: 21, 28, 38;
    --tanRGB: 173, 134, 64;
    /* add a light mode! - colors */
    --light: #4B5059;
    --purpLight: #6F62D9;
    --tanLight: #AD7000;
    --blueLight: #103461;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* Firefox scrollbar */
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--tanRGB), 0.5) rgba(var(--tanRGB), 0.3);
}

/* Webkit browser scrollbar*/

*::-webkit-scrollbar {
    width: 0.5rem;
}

*::-webkit-scrollbar-track {
    background: rgba(var(--tanRGB), 0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(var(--tanRGB), 0.5);
    border-radius: 0;
}

a {
    text-decoration: none;
}

body {
    height: 100dvh;
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-image: url(../assets/ep_naturalblack.jpg);
    overflow-x: hidden;
    border: 0.5rem solid rgb(var(--darkRGB));
    border-right: none;
}

main {
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: mainFadeIn 350ms ease-in-out 500ms forwards;
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
        transform: translateX(50rem);
    }

    60% {
        opacity: 1;
        transform: translateX(-3rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    animation: headFadeIn 350ms linear 150ms forwards;
    opacity: 0;
    background-color: rgb(var(--blueRGB));
    border-right: 2px solid rgb(var(--purpRGB));
    margin-right: 0.25rem;
    z-index: 2;
}

@keyframes headFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-100vh);
    }
    60% {
        transform: translateY(2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.headText {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: clamp(1rem, 2vw, 2.5rem) clamp(0.5rem, 3vw, 3.75rem);
}

.social {
    display: flex;
    padding: 1rem 0.25rem;
    gap: clamp(1rem, 2vw, 2rem);
    font-size: clamp(1.5rem, 3vw, 3rem);
}

.social i {
    transition: color 0.2s ease-in-out;
    color: rgba(255, 255, 255, 0.25);
}

.social i:hover {
    cursor: pointer;
    color: #fff;
}

.headText h1 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(2rem, 4vw, 4rem);
    letter-spacing: 0.25vh;
    text-shadow: -1px 0 0 rgb(var(--tanRGB)), 0 1px 0 rgb(var(--tanRGB)), 1px 0 0 rgb(var(--tanRGB)), 0 -1px 0 rgb(var(--tanRGB));
    color: rgb(var(--blueRGB));
}

.headText h2 {
    font-size: clamp(1rem, 2.25vw, 1.75rem);
    color: rgba(255, 255, 255, 0.25);
}

header h1, header h2 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}