@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Space+Mono:wght@400&display=swap');
@import url('./buttonStyle.css');
@import url('./contentStyle.css');

:root {
    /* dark mode colors */
    --darkRGB: 7, 9, 13;
    --purpRGB: 20, 26, 38;
    --tanRGB: 173, 134, 64;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* Firefox scrollbar */
    scrollbar-width: auto;
    scrollbar-color: rgba(var(--tanRGB), 1) rgba(var(--tanRGB), 0.5);
}

/* Webkit browser scrollbar*/
*::-webkit-scrollbar {
    width: clamp(0.5rem, 1vw, 1rem);
}

*::-webkit-scrollbar-track {
    background: rgba(var(--tanRGB), 0.5);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(var(--tanRGB), 1);
    border-radius: 0;
}

a {
    text-decoration: none;
}

body {
    height: 100dvh;
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: rgb(var(--darkRGB));
    overflow-x: hidden;
    background-image: url(../assets/ep_naturalblack.jpg);
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: mainFadeIn 350ms ease-in-out 500ms forwards;
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
        transform: translateX(50rem);
    }

    60% {
        opacity: 1;
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    animation: headFadeIn 350ms linear 150ms forwards;
    opacity: 0;
    padding: 0 clamp(3rem, 3vw, 6rem);
}

@keyframes headFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-100vh);
    }

    60% {
        transform: translateY(-2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.headText {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: clamp(1rem, 2vw, 2rem) clamp(0.5rem, 1vw, 1rem) 0 0;
    padding: 0;
}

.social {
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 1rem 0;
    gap: clamp(1rem, 2vw, 2rem);
    font-size: clamp(1.25rem, 3vw, 2.5rem);
}

.socialIcons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: clamp(0.5rem, 2vw, 1rem);
}

.social i {
    transition: color 0.2s ease-in-out;
    color: rgba(255, 255, 255, 0.65);
}

.social #blogLink {
    font-family: 'Space Mono', monospace;
    font-size: clamp(1rem, 2.25vw, 1.75rem);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: rgba(255, 255, 255, 0.65);
    transition: color 0.2s ease-in-out;
    text-align: left;
}

.social i:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.social #blogLink:hover {
    cursor: pointer;
    color: rgb(var(--tanRGB));
}

.headText h1 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(2rem, 4vw, 4rem);
    font-variant: small-caps;
    letter-spacing: 0.25vh;
    color: rgb(var(--tanRGB));
}

.headText p {
    font-size: clamp(1rem, 2.25vw, 1.75rem);
    color: rgba(255, 255, 255, 0.65);
}

header h1, header p {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

@media screen and (max-width: 750px) {
    body {
        flex-direction: column;
    }

    main {
        height: calc(100% - 100px);
    }

    header {
        flex-direction: row;
        padding: 0 3vw;
    }

    header h1, header p {
        writing-mode: horizontal-tb;
        transform: rotate(0);
    }

    .headText {
        flex-direction: column;
        margin: 0;
    }

    .headText h1 {
        font-size: 2rem;
        letter-spacing: 0.5vh;
    }
}